<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/all-dashboard.css">
    <link rel="stylesheet" href="/css/profile.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
	  href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
	  rel="stylesheet">

	<title>AdminHub</title>
</head>
<body>



	<div class="top-nav">
		<div class="ham">

			<img class="closee" src="/images/hamburger-svgrepo-com.png" alt="">
			<img class="open" src="/images/close-svgrepo-com (1).png" alt="">
		</div>
		<div class="icons">

			<a ><img src="/images/grid-svgrepo-com.png" alt=""></a>
			<a ><img src="/images/grid-svgrepo-com.png" alt=""></a>
			<a href="/dashboard/profile"><img src="/images/profile-1341-svgrepo-com.png" alt=""></a>
		</div>
	</div>
	<div class="side-bar">
		<div class="top">
			<p>Dashboard</p>
		</div>

		<ul class="dash-links">
			<a href="/dashboard/dashboard"><li>Dashboard</li></a>
			<a href=""><li>Courses</li></a>
			<a href=""><li>Messages</li></a>
			<a href="/dashboard/exams/cbtest"><li>Exams</li></a>
		</ul>
	</div>




    <div class="all">
        <div class="profilee">

            <p>Profile</p>
    
            <div class="movee">
                <button>Edit Profile</button>
            </div>
    
            <div class="yourp">
                <label for="Fullname">Fullname</label> <br>
                <input type="text" name="name" id="fullname" placeholder="Zainab Kehinde" disabled>  <br><br>
    
    
                <label for="Username">Username</label> <br>
                <input type="text" name="Username" id="Username" placeholder="Kehinde224" disabled>  <br><br>
    
                <label for="Email">Email</label> <br>
                <input type="text" name="Email" id="Email" placeholder="ZainabKehinde13@gmail.com" disabled>  <br><br>
    
    
                <label for="Phone Number">Phone Number</label> <br>
                <input type="text" name="number" id="Phone-number" placeholder="08034526543" disabled>  <br><br>
    
    
                <label for="Account Number">Account Number</label> <br>
                <input type="text" name="Account-number" id="Account-number" placeholder="0948737322" disabled>  <br><br>
    
    
                <label for="Sponsor's ID">Sponsor's ID</label> <br>
                <input type="text" name="Sponsor's ID" id="Sponsor's-ID" placeholder="ggdgdgdgdgdgd" disabled>  <br><br>
    
    
                <label for="Sponsor's Phone Number">Sponsor's Phone Number</label> <br>
                <input type="text" name="Sponsor's Phone Number" id="Sponsor's-number" placeholder="93736253746" disabled>  <br><br>
    
    
                <label for="Password">Password</label> <br>
                <input type="text" name="Password" id="Password" placeholder="************" disabled>  <br><br>
    
    
                <label for="Transaction Password">Transaction Password</label> <br>
                <input type="text" name="Transaction-Password" id="Transaction-Password" placeholder="*************" disabled>  <br><br>
            </div>
        </div>
    </div>

	

	<script src="/js/dashh.js"></script>
</body>
</html>