<!-- views/users.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <form action="/users/<%= user.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </table>
</body>
</html>
